@page "/"

<PageTitle>Realtime Games</PageTitle>

<div class="row justify-content-around">
    <div class="col-auto my-3">
        <GameItem Link="connect4" GameName="Connect 4" />
    </div>

    <div class="col-auto my-3">
        <GameItem Link="battleship" GameName="Battleship" />
    </div>
</div>
