.connect4-board {
    width: 602px;
    border-radius: 10px;
    background-color: rgb(247, 235, 170);
    margin: 0 auto;
}

.battleship-board {
    width: 350px;
    background-color: rgb(65, 124, 247); /* sea color */
    border: 1px solid rgb(15, 51, 255);
    margin: 0 auto;
    padding: 0;
    box-sizing: content-box;
}