<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Title</h2>
        </div>

        <div class="dialog-buttons">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string? Title { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}
